*{
	margin: 0;
}


.hnavbar{
	margin: 10px 0;
	display: flex;
	background-color: darkgrey;
}

.hnavbar h1{
	margin: 0.5em 20px;
}

.links{
	margin-left: auto;
	padding: 20px;
}

.links a{
	text-decoration: none;
	margin-right: 10px;
	padding: 1em 10px;
	color: white;
	position: relative;

	z-index: 1;
}

.links a::after{
	content: '';
	background: black;
	position: absolute;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;

	transform: scaleX(0);
	transform-origin: right;
	z-index: -1;
	transition: transform 200ms ease-in;
}

.links a:hover::after{
	transform-origin: left;
	transform: scaleX(1);
}

/*Need to add scroll bar to this div and do animations with that*/
.scrolling{
	background: red;
	/* width: 75vw; */
	margin: 10px auto;
	padding: 20px;
	height: 60vh;
	overflow: scroll;
}

.scrolling section{
	border: 1px solid white;
	margin-top: 16px;
	padding: 16px;
}

